*{
    box-sizing: border-box;
    margin: 0 ;
    background-color: #3f413e ;
}

img{
    width: 100px;
}

li, a, button{
    
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #e6e7e8;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.navLinks{
    list-style-type: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #f81774;    
}

button{
    padding: 9px 25px;
    background-color: rgb(127, 205, 175);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #f81774;
}





.bNeon {
    border: .25em solid var(--glow-color);
    padding: 10px 15px;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }

   .bNeon::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }

   .bNeon:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }

   .bNeon:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }